.task-completed {
    text-decoration: line-through;
    color: var(--md-default-fg-color--light);
}

.task-completed .task-list-control,
.task-completed .task-list-indicator {
    opacity: 1;
}

code {
    border-radius: 50px;
}
